.postform{
    padding: 10px;
}
._pst{
    background: white;
}
.c{
    text-align: center;
}
._cp{
padding: 10px;
}

.alogo{
    width: 25px;
    height: 25px;

}
._post_icon{
    padding-bottom: 10px;
    padding-top: 10px;
}
.top_p>input{
    display: none;
}
.alogo{
    cursor: pointer;
}
.post_{
    display: initial;
    min-width: 100%;
}
._p{
    flex-flow: row;
    overflow: auto;
}
.show_image{
    /*width: 90%;*/
    height: 100%;
    background-size: cover;
    background-position: center;
}