.postform{
    padding: 10px;
}
._pst{
    background: white;
}
.c{
    text-align: center;
}
._cp{
padding: 10px;
}

.alogo{
    width: 25px;
    height: 25px;

}
._post_icon{
    padding-bottom: 10px;
    padding-top: 10px;
}